*,
*::before;
*::after;{
  box-sizing: border-box;
}

h1 {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  padding: 15px;
  margin: 5px;
  width: 90%;
  }

.tabs li{
  font-family: sans-serif;
  font-weight: bold;
  background-color: lightgrey;
  color: white;
  list-style: none;
  display: inline;
  padding: 10px;
}

.tabs {
  text-align: center;
}

h2 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  background-color: lightblue;
  padding: 2%;
  width: 85%;
  margin: auto;
}

h2 span:nth-child(even){
  font-weight: bold;
  border-bottom: 5px solid yellow;
}

.image-section {
  display: inline-block;
  width: 85%;
  text-align: center;
  margin: auto;
}

.image-container {
  display: inline-block;
  margin-top:15px;
}

.image-container ul{
  background-color: yellow;
  text-align: center;
  margin-top:5px;
  padding: 0;
}

.image-container li{
  list-style: none;
  font-family: sans-serif;
  color: purple;
  text-decoration: underline;
  display: inline-block;
  width:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-family: sans-serif;
  font-size: 15px;
  background-color: black;
  color: white;
  text-align: center;
  width: 90%;
  height: auto;
  padding:15px;
}
